#text_about
  %p= "Привет. Меня звать Leopard. А это - движок с комиксами. Приятного просмотра :)"
  %br
  %p= "Для руби есть огромное количество различных инструментов для быстрой разработки. Я остановился на следующих, на чем и написан этот ресурс"
  #about_rp
    %a{ :href => "http://www.sinatrarb.com/"}= "Sinatra"
    %span= " — DSL для веба. Легковесный фреймворк, работающий по принципу «convention over configuration». Позволяет быстро и легко разрабатывать веб-приложения, и легко дополняется всем, что только может вам понадобиться. Основа нашего приложения."
    %br
    %br
    %a{ :href => "http://datamapper.org/"}= "DataMapper"
    %span= " — ORM, главный конкурент ActiveRecord. В чем-то уступает, в чем-то превосходит вышеназванный, прекрасно работает с разными базами данных, легко конфигурируется и встраивается."
    %br
    %br
    %a{ :href => "http://haml-lang.com/"}= "HAML"
    %span= " — HTML для программистов. Язык разметки, чуть более красивый чем традиционный erb, генерирует чистый и валидный xhtml."
    %br
    %br
    %a{ :href => "http://sass-lang.com/"}= "SASS"
    %span= " — CSS для программистов."
    %br
    %br
